<main>
  <nav class="sticky z-20 top-5 start-0 ">
    <div class="max-w-[90vw] sm:max-w-[80vw] lg:max-w-[50em] border border-white/[0.2] backdrop-blur-xs rounded-full flex flex-col mx-auto p-2.5">
      <div class="flex-1 flex justify-between">
        <a [routerLink]="['']" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img class="h-8  text-white" alt="Logo">
        </a>
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
          <button [routerLink]="['contact']" type="button" class="flex gap-2 font-semibold items-center backdrop-blur-lg border border-white/[0.05] bg-white/[0.1] hover:bg-white text-white hover:text-black rounded-full text-sm px-4 py-2 cursor-pointer transition-all">
            CONTACT US
          </button>
        </div>
      </div>

    </div>
  </nav>


  <!-- <div class="border-1 border-t-0 border-white/[0.1] sm:mx-10"></div> -->
  <div class="relative border-1 border-t-0 border-white/[0.1] sm:mx-10 backdrop-blur-lg">
    

    

    <!-- <img src="icons/plus.svg" alt="" class="h-2"> -->
    <span class="hidden sm:block absolute -top-4 -left-2 text-2xl text-white/[0.6] font-bold">+</span>
    <span class="hidden sm:block absolute -top-4 -right-2 text-2xl text-white/[0.6] font-bold">+</span>

    <router-outlet />
  </div>


  <footer class="relative border-x-1 border-white/[0.1] sm:mx-10 sm:p-5 font-roboto">
    <span class="hidden sm:block absolute -top-4 -left-2 text-2xl text-white/[0.6] font-bold">+</span>
    <span class="hidden sm:block absolute -top-4 -right-2 text-2xl text-white/[0.6] font-bold">+</span>

      <div class="w-full p-4 flex flex-row items-center justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 All rights reserved.</span>
        <a href="https://github.com/Blue-sky-2025" class="w-10 h-10 border border-white/[0.1] hover:border-white/[0.3] rounded-sm flex items-center justify-center transition-colors">
          <img class="p-1 opacity-80 hover:opacity-100" src="icons/github.svg">
        </a>
      </div>
  </footer>
</main>
