<!-- Landing Hero Section -->
<section class="relative text-white shadow-lg rounded-lg mx-4 mt-6">

  <div class="opacity-50">
    <div class="absolute -z-10 top-10 sm:left-40 rounded-full m-0 p-0 h-80 w-[40vw] sm:w-100 blur-3xl bg-gradient-to-b from-purple-900 via-[#0759B9] to-blue-900 animate-pulser"></div>
    <div class="hidden md:block absolute -z-10 -bottom-10 sm:right-40 rounded-t-full m-0 p-0 h-40 w-100 blur-3xl bg-gradient-to-b from-[#b161a5] via-[#353ebe] to-[#6B4165] animate-pulser"></div>
  </div>

  <div class="max-w-6xl z-10 mx-auto px-6 py-20 md:py-28 flex flex-col md:flex-row items-center justify-between">
    <div class="md:flex-[0.7] space-y-6 font-roboto">
      <h1 class="text-4xl md:text-5xl leading-tight text-white font-sans">
        Your Partner in Innovation & Development
      </h1>
      <p class="text-lg text-gray-400 font-techno font-light">
        BlueSky delivers cutting-edge AI solutions, secure web testing, stunning app/web development, and elite cybersetopcurity services — all under one roof.
      </p>
      <div class="space-x-4 mt-4 font-techno">
        <button class="bg-blue-600 hover:bg-blue-500 text-white text-xs px-4 py-2 rounded-md transition duration-300">
          CONTACT US
        </button>
        <button class="bg-white/[0.0] hover:bg-white text-white hover:text-black text-xs px-4 py-2 rounded-md duration-300 transition-all">
          GET STARTED >
        </button>
      </div>
    </div>
  </div>
</section>



<!-- Services we Provide -->
<section class="text-white flex flex-col justify-center items-center">
  <h2 class="text-4xl font-roboto text-center text-white mb-12">
    Services we Provide
  </h2>
  <div class="relative w-6xl flex flex-wrap gap-10 mb-10">
    <div class="absolute -z-10 -top-10 sm:left-40 rounded-t-full m-0 p-0 h-40 w-100 blur-3xl bg-gradient-to-b from-[#6B4165]/[0.6] via-[#1A1C36]/[0.6] to-[#6B4165] animate-pulser"></div>
    <div class="absolute -z-10 top-10 sm:right-40 rounded-full m-0 p-0 h-80 w-100 blur-3xl bg-gradient-to-b from-purple-900 via-[#0759B9] to-blue-900 animate-pulser"></div>
    <div class="absolute -z-10 bottom-10 sm:left-10 rounded-full m-0 p-0 h-80 w-100 blur-3xl bg-gradient-to-b from-purple-900 via-[#499eff5b] to-blue-300/[0.6] animate-pulser"></div>

      <div class="w-6xl flex flex-col gap-10">
        @for (item of items; track $index) {
          <div class="relative flex flex-row gap-2 items-start bg-black/[0.5] border border-white/[0.1] backdrop-blur-xl p-5 rounded-xl overflow-hidden shadow-lg transition-all">
            <div class="absolute inset-0 bg-[linear-gradient(to_right,#ffffff10_1px,transparent_1px),linear-gradient(to_bottom,#ffffff10_1px,transparent_1px)] bg-[size:50px_50px] z-0"></div>
            <div class="absolute inset-0 bg-[linear-gradient(to_top,rgba(1,1,1,0.5)_1px,transparent)] z-10 pointer-events-none"></div>

            
            <div class="flex-1 flex flex-row justify-between">
              <div class="flex flex-col justify-between pb-5">

                <!-- Feature Heading  -->
                <div class="flex flex-row gap-2 items-center w-max bg-white text-black backdrop-blur-xl p-2 pr-4 rounded-xl shadow-lg hover:scale-[1.01] transition-all">
                  <img src="icons/web.svg" class="h-10">
                  <p class="font-roboto">Web Design</p>
                </div>
                <p class="text-white/[0.5] text-sm max-w-xl font-techno">We Help companies craft captivating websites. Our Designs tell stories and guide users, from vision to actions</p>
              
              </div>
              <img src="images/web.png" class="h-60 rounded-md">
            </div>
            
          </div>
          
        }
      </div>
      
  </div>
</section>

<!-- Each Features  -->
<section class="flex flex-col items-center">

  <div class="w-6xl flex flex-col gap-10">
    @for (item of items; track $index) {
      
    }
  </div>
</section>

<!-- Work Statistics -->
<section class="flex items-center justify-center text-center font-roboto text-white">
  <div class="max-w-6xl bg-black/[0.5] backdrop-blur-md p-10 border-white/[0.1] border rounded-md">

    <div class="mb-12">
      <a href="#" class="inline-block px-4 py-2 text-sm bg-white font-roboto text-black font-light rounded hover:scale-105 transition-transform duration-200">
        Discover Our Edge
      </a>
    </div>

    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 max-w-6xl mx-auto">
      <div>
        <p class="uppercase text-sm mb-2">Websites & Apps Developed</p>
        <h3 class="text-[4rem] font-bold">25+</h3>
        <p class="text-sm  mt-2 font-techno text-white/[0.5]">Built with modern, responsive tech stacks</p>
      </div>

      <div>
        <p class="uppercase text-sm mb-2">Cybersecurity Projects</p>
        <h3 class="text-[4rem] font-bold ">15+</h3>
        <p class="text-sm mt-2 font-techno text-white/[0.5]">Network/Web pentests, account recoveries</p>
      </div>

      <div>
        <p class="uppercase text-sm mb-2">Tools & Scripts Developed</p>
        <h3 class="text-[4rem] font-bold">10+</h3>
        <p class="text-sm mt-2 font-techno text-white/[0.5]">Automation tools, scanners & open-source utilities</p>
      </div>

    </div>
  </div>
</section>

<!-- Features Points -->
<section class="text-white py-16 px-6 sm:px-12">
  <div class="font-roboto text-center max-w-4xl mx-auto mb-14">
    <h2 class="text-4xl sm:text-5xl mb-4">Secure your digital world to the <span class="font-code text-blue-400">next level</span></h2>
    <p class="text-gray-400 font-techno">
      The power of an elite cybersecurity team — without the need for expensive tools or hours of manual effort.
    </p>
  </div>

  <div class="grid md:grid-cols-3 gap-8 max-w-6xl mx-auto">

    <div class="bg-blue-500/[0.1] backdrop-blur-sm border border-white/10 rounded-md p-6 shadow hover:scale-[1.01] hover:shadow-blue-500/30 transition-all">
      <div class="mb-6">
        <div class="space-y-2">
          <div class="bg-gradient-to-r from-blue-500 to-blue-300 rounded-lg text-sm px-4 py-2 w-max transition-all">Scanning Ports ...</div>
        </div>
      </div>
      <div class="flex items-center  gap-2">
        <img src="icons/time.svg" class="h-4">
        <h3 class="font-semibold font-roboto text-base">Save Time</h3>
      </div>
      
      <p class="text-sm font-techno text-gray-400">
        Automated penetration tests and vulnerability scans save hours of manual effort. Let BlueSky handle the threats while you focus on growth.
      </p>
    </div>

    <div class="bg-blue-500/[0.1] backdrop-blur-sm border border-white/10 rounded-md p-6 shadow hover:scale-[1.01] hover:shadow-purple-500/30 transition-all">
      
      <div class="mb-6">
        <button disabled type="button" class="text-white bg-purple-500/30  hover:bg-purple-500/30  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 inline-flex items-center">
          <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
          </svg>
          Analyzing
        </button>
      </div>

      <div class="flex items-center  gap-2">
        <img src="icons/star.svg" class="h-4">
        <h3 class="font-semibold font-roboto text-base">Get Clarity</h3>
      </div>
      <p class="text-sm font-techno text-gray-400">
        BlueSky simplifies cybersecurity analytics and dark web monitoring into clear, actionable insights so you always know your risk posture.
      </p>
    </div>

    <div class="bg-blue-500/[0.1] backdrop-blur-sm border border-white/10 rounded-md p-6 shadow hover:scale-[1.01] hover:shadow-green-500/30 transition-all">
      <div class="mb-6 flex justify-between items-center">
        <div class="bg-green-400 text-black px-4 py-2 rounded-md text-sm font-semibold">↑ 92% Threat Accuracy</div>
      </div>
      <div class="flex items-center  gap-2">
        <img src="icons/boost.svg" class="h-4">
        <h3 class="font-semibold font-roboto text-base">Boost Digital Security Value</h3>
      </div>
      <p class="text-sm text-gray-400 font-techno">
        Convert weak security into strong defenses. BlueSky empowers individuals and businesses with tools to recover, protect, and monitor accounts.
      </p>
    </div>

  </div>
</section>



<!-- Hero Section with Background Image -->
<div class="relative flex justify-center items-center p-0 md:p-10 ">
  <div class="absolute -z-10 -top-10 sm:left-40 rounded-t-full m-0 p-0 h-40 w-100 blur-3xl bg-gradient-to-b from-[#6B4165]/[0.6] via-[#1A1C36]/[0.6] to-[#6B4165] animate-pulser"></div>
  <div class="absolute -z-10 top-10 sm:right-40 rounded-full m-0 p-0 h-80 w-100 blur-3xl bg-gradient-to-b from-purple-900 via-[#0759B9] to-blue-900 animate-pulser"></div>
  
  <div class="absolute flex flex-wrap gap-2 justify-center items-center text-5xl text-white">
    <img src="icons/github.svg" class="h-12">
    <span class="font-bold font-techno">Blue</span>
    <span class="font-code">Sky</span>
  </div>
  <img src="images/home_nightsky.jpg" class="w-6xl h-60 md:h-64 object-cover md:rounded-md shadow shadow-black/[0.2]">
</div>