<div class="relative flex justify-center items-center p-0 md:p-10">
    <div class="absolute -z-10 -top-10 sm:left-40 rounded-t-full m-0 p-0 h-40 w-100 blur-3xl bg-gradient-to-b from-[#6B4165]/[0.6] via-[#1A1C36]/[0.6] to-[#6B4165]"></div>
    <div class="absolute -z-10 top-10 sm:right-40 rounded-full m-0 p-0 h-80 w-100 blur-3xl bg-gradient-to-b from-purple-900 via-[#0759B9] to-blue-900"></div>
    
    <div class="absolute flex flex-wrap gap-2 justify-center items-center text-5xl text-white">
        <img src="icons/github.svg" class="h-12">
        <span class="font-bold font-techno">Blue</span>
        <span class="font-code">Sky</span>
    </div>
    <img src="images/home_nightsky.jpg" class="w-full h-60 md:h-72 object-cover md:rounded-md shadow shadow-black/[0.2]">
</div>